<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Company drivers</h4>
          <p class="card-category">Orders on</p>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Truck ID</th>
            <th>Order ID</th>
            </thead>
            <tbody>
            <tr *ngFor="let driver of drivers$">
              <td>{{driver.id}}</td>
              <td>{{driver.firstName}} {{driver.lastName}}</td>
              <td>{{driver.status}}</td>
              <td>
                {{driver.truck}}
                <ng-container
                        *ngIf="driver.truck == undefined ; then empty; else truck">
                </ng-container>
                <ng-template #truck>
                  {{driver.truck}}
                </ng-template>
                <ng-template #empty>
                  not assigned
                </ng-template>
              </td>
              <td>{{driver.order}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
